p {
    text-align: center;
    color:rgb(30, 94, 150)
}

body {
    background-color: rgb(242, 248, 255);
}

h1 {
    color: rgb(10, 60, 100);
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}